.navigation {
    display: inline;
    margin-inline-start: 5%;
    font-size: 14px;
    border-style: none;
    background-color: transparent;
    text-decoration: none; 
}
.navigation ul {
    display: inline;
    list-style-type: none;
}
.navigation li{
    display: inline;
    text-align: left;
    margin-right: 1%;
}
.navigation li:not(:first-child){
    display: inline;
    border-right: 2px solid rgb(192, 190, 190); 
    text-align: left;
    padding: 2px 15px;
}
.navigation :hover {
    color: #cf0067;
    background-color: transparent;
    text-decoration: none;
}
.navigation :link, :visited {
    color:#414040; 
    background-color: transparent;
    text-decoration: none;
}
.liny {
    display: block;
    background-image: linear-gradient(to right, #fe0613 , #8b00ae);
    font-size: 5px;
    margin-block-start: 1%;
}
.search {
    display: inline-block;
    border-style: none;
    text-decoration: none;
    margin: 0%;
    border: 0%;
    padding: 0%;
    background-color: white;
} 
.search table{
    text-align: center;
    display:inline;
    margin: 0%;
    border: 0%;
    padding: 0%;
}
.search h2 {
    display:inline;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.search h6 {
    display:inline;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.region-box {
    /* padding: 10px; */
    /* box-shadow: 2px 5px 200px 2px #e2e2e2; */
    width: 390px;
    height: 70px ;
    border-radius: 5px;
    -webkit-box-shadow: 3px 12px 49px 8px rgba(214,214,214,1);
    -moz-box-shadow: 3px 12px 49px 8px rgba(214,214,214,1);
    box-shadow: 3px 12px 49px 8px rgba(214,214,214,1);
    margin: 0%;
    border: 0%;
    padding: 0%; 
}

.myselect {
    background-color: white;
    border-radius: 5px;
    margin-left: 4px;
    /* margin: 5px; */
    border-color: silver;
    width: 100px;
    height: 50px;
    /* margin: 0%;
    border: 0%;
    padding: 0%;  */
    font-size: 15px;
    outline: none;
}
.myinput {
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-color: silver;
    border-style:solid; 
    width: 400px;
    height: 50px; 
    margin: 0%;
    border: 0%;
    font-size: 15px;
    padding: 0%;
    border-width: 1px;
    outline: none;
}
.search-icon {
    width: 50px;
    height: 52px; 
    margin: 0%;
    border: 0%;
    padding: 0%;
    outline: none;
}
.zero {
    margin: 0%;
    border: 0%;
    padding: 0%;
    width: px;
    height: 50px; 
}
.hard-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 190px;
    margin-right: 190px;
    margin-block-start: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:590px;
    height: 50px;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    border-radius:5px;
    -webkit-box-shadow: 2px 2px 10px 4px rgba(0,0,0,0.14);
    -moz-box-shadow: 2px 2px 10px 4px rgba(0,0,0,0.14);
    box-shadow: 2px 2px 10px 4px rgba(0,0,0,0.14);
}

.inner-addon { 
    position: relative; 
    color:silver;
    
}
.myinput{
    font-family: 'Shabnam', sans-serif;
}
.inner-addon .fa-map-marker-alt{
  position: absolute;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 5px;
  pointer-events: none;
}
.right-addon .fa-map-marker-alt {
    right: 0px;
}
.hard{
    position: relative;
    right: 0px;
    /* padding-bottom: 60px; */
}
.right-addon input {
     padding-right: 30px; 
     padding-left: 3px; 
    
    
}
.empty {
    height:"150";
    width:"2000";
}
.help {
    padding: 1%;
    display: inline-block;
    border-style: none;
    text-decoration: none;
}
.help h5{
    color:#808080; 
}
.help-box {
    width: 350px;
    height: 90px ;
    -webkit-box-shadow: 3px 12px 49px 8px rgba(214,214,214,1);
    -moz-box-shadow: 3px 12px 49px 8px rgba(214,214,214,1);
    box-shadow: 3px 12px 49px 8px rgba(214,214,214,1);
    margin: 0%;
    border: 0%;
    padding: 0%;
    font-size: 12px;
}
.help-box p{
    color:#9b9b9b; 
}
.grid-container {
    display: grid;
    grid-column-gap: 100px;
    grid-template-columns: auto auto auto;
    padding: 100px;
}
.best-restaurants{
    height: 10em;
    position: relative;
    padding: 4%;
}
.best-restaurants h2{
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.restaurant-grid {
    display: grid;
    grid-column-gap: 100px;
    grid-template-columns: auto auto auto;
    padding: 100px;
    
}
.restaurant {
    width: 350px;
    height: 305px ;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.14);
    margin: 0%;
    border: 0%;
    padding: 0%;
    font-size: 12px;
    font-size: 18px;
    text-align: center;
    cursor:pointer;
}
.restaurant-grid :hover {
    -webkit-box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.14);
    -moz-box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.14);
    box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.14);
}
.restaurant :hover:not(.pic-rest){
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.14);
}
.restaurant-grid :hover .myButton{
    background-color:#cf006815;
}
.pic-rest{
    all: revert;
    height: "90";
    width: "90";
    margin-block-start: 5%;
    -webkit-box-shadow: 1px 1px 10px 2px rgba(214,214,214,1);
    -moz-box-shadow: 1px 1px 10px 2px rgba(214,214,214,1);
    box-shadow: 1px 1px 10px 2px rgba(214,214,214,1);
    border-radius: 5px;
}
.info { 
    margin-block-start: 4%;
    color: #6b6b6b;
    font-weight:normal
}
.info2 { 
    margin-block-start: 4%;
    color: #8b8b8b;
    font-weight:normal
}
.myButton {
	background-color:#ffffff;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #cf0068;
	display:inline-block;
	cursor:pointer;
	color:#cf0068;
	font-family:Impact;
	font-size:13px;
    padding:8px 27px;
    margin-block-start: 4%;
	text-decoration:none;
}
.myButton:hover {
	background-color:#cf006815;
}
.myButton:active {
	position:relative;
	top:1px;
}
.best-tehran-rest{
    /* padding: 1%; */
    display: inline-block;
    border-style: none;
    text-decoration: none;
    background-image: url("../img/pizza-back.jpg");
    margin-block-start: 20%;
    background-size: cover;
    width:100%;
    height: 714px;
}
.best-tehran-rest h3{
    padding-top: 4%;
    padding-right: 12%;
}
.tehran-rest-grid{
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    width: 300 px;
    height: 300 px;
    padding-left: 55%;
    padding-right: 10%;
    padding-top: 5%;
}
.teh-rest :hover:not(:last-child) {
    -webkit-box-shadow: 1px 1px 10px 4px rgba(220, 220, 220);
    -moz-box-shadow: 1px 1px 10px 4px rgba(220, 220, 220);
    box-shadow: 1px 1px 10px 4px rgb(220, 220, 220);
}
.teh-rest{
    text-align: center;
    width: 80 px;
    height: 80 px; 
    cursor:pointer; 
}
.teh-rest h5 {
    font-weight: normal;
}
.pic-teh-rest{
    border: 1px solid transparent;
    border-color: rgb(206, 206, 206);
}
.pic-teh-rest2{
    border: 1px solid transparent;
    border-color: rgb(206, 206, 206);
    -webkit-box-shadow: 1px 1px 3px 1px rgba(230, 230, 230);
    -moz-box-shadow: 1px 1px 3px 1px rgba(230, 230, 230);
    box-shadow: 1px 1px 3px 1px rgb(230, 230, 230);
    border-radius: 5px;
}
.food{
    display: inline-block;
    border-style: none;
    text-decoration: none;
    padding-block-start: 4%;
    padding-block-end: 4%;
    width: 100%;
    text-align: center;
    background-color: #f6f9fc
}
.food h2{
    margin-block-start: 1%;
    font-weight: normal;
}
.food-grid{
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    width: 300px;
    height: 350px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}
.ffff{
}
.ffff h4{
    padding-right: 10px;
    font-weight: normal;
}
.ffff h1{
    padding-block-start: 210px;
    padding-block-end: 10px;
    font-weight: bold;
}
.f1 {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 2%, rgba(0,0,0,1)), url("../img/f1.jpeg");
    border-radius: 3px;
    background-size: cover;
    color: #ffffff;
    /* height: 293px;  */
    width: 274px;
    height: 293px;
    padding-right: 15px; 
    text-align: right;
    cursor:pointer;
}
.f2 {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 2%, rgba(0,0,0,1)), url("../img/f2.jpeg");
    border-radius: 3px;
    background-size: cover;
    color: #ffffff;
    /* height: 293px;  */
    width: 274px;
    height: 293px;
    padding-right: 15px; 
    text-align: right;
    cursor:pointer;
}
.f3 {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 2%, rgba(0,0,0,1)), url("../img/f3.jpeg");
    border-radius: 3px;
    background-size: cover;
    color: #ffffff;
    /* height: 293px;  */
    width: 274px;
    height: 293px;
    padding-right: 15px; 
    text-align: right;
    cursor:pointer;
}

.f4 {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 2%, rgba(0,0,0,1)), url("../img/f4.jpeg");
    border-radius: 3px;
    background-size: cover;
    color: #ffffff;
    /* height: 293px;  */
    width: 274px;
    height: 293px;
    padding-right: 15px; 
    text-align: right;
    cursor:pointer;
}

.ffff:hover { 
    position: relative; 
    top: -5px;
} 
.morefood{
    margin-left: 50px;
    margin-right: 50px;
}
.myButton2 {
	background-color:#ffffff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
    text-decoration:none;
    margin-left: 10px;
    margin-top: 20px;
}
.myButton2:hover {
    background-color:#ffffff;
    -moz-box-shadow: 0px 2px 20px 1px #b3b8b2;
	-webkit-box-shadow: 0px 2px 20px 1px #b3b8b2;
	box-shadow: 0px 2px 20px 1px #b3b8b2;
}
.myButton2:active {
	position:relative;
	top:1px;
}
.emtiyazi{
    margin-block-start: 20%;
    margin-block-end: 20%;

}
.box-mobile{
    background-color: white;
    margin-right: 10%;
    margin-left: 10%;
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: right;
}
.box-mobile p{
    padding-block-start: 3%;
    color: #9b9b9b;
}
.box-mobile h3{
    color: #4a4a4a;
    font-weight: normal;
    padding-block-start: 3%;
    padding-block-end: 3%;

}
.chert-form{
    /* width: 200px; */

}
.input-mobile{
    border: 1px solid #d4d4d4;
    border-top-right-radius: 35px;
    -moz-box-shadow: 1px 1px 10px 1px #dadada;
	-webkit-box-shadow: 1px 1px 10px 1px #dadada;
    border-bottom-right-radius: 35px;
    width: 40%;
    padding: 2%;          
    font-size: 20px;
    outline: none;
    font-family: 'Shabnam', sans-serif;

}


.input-mobile:focus{
    border: 1px solid #8b00ae;

}
.SMS {
    border: 1px solid #d4d4d4;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    color:white;
    background-image: linear-gradient(to right, #fe0613 , #8b00ae);
    width:30%;
    padding: 2.5%;
    padding-right: 0;
    margin: 0;
    font-size: 15px;
    cursor:pointer;
}
.form-grid{
    grid-column-gap: 0px;
    text-align: right;
    padding: 0;
    margin: 0;
    font-size: 0;
    
}
.app-grid{
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width: 620px;
    padding-left: 10%;
    padding-top: 2%;
}

.app-myButton1{
    border: 1px solid #f5f3f3;
    background:url(../img/application-download-link/sibapp-light.png) no-repeat;
    -moz-box-shadow: 1px 1px 10px 1px #f5f3f3;
	-webkit-box-shadow: 1px 1px 10px 1px #f5f3f3;
    cursor:pointer;
    width: 199px; 
    height: 60px;
    border-radius: 8px;
    padding: 2%;
}
.app-myButton2{
    border: 1px solid #f5f3f3;
    background:url(../img/application-download-link/google-play-light.png) no-repeat;
    -moz-box-shadow: 1px 1px 10px 1px #f5f3f3;
	-webkit-box-shadow: 1px 1px 10px 1px #f5f3f3;
    cursor:pointer;
    width: 199px; 
    height: 60px;
    border-radius: 8px;
    padding: 2%;
}
.app-myButton3{
    border: 1px solid #f5f3f3;
    background:url(../img/application-download-link/cafebazaar-light.png) no-repeat;
    -moz-box-shadow: 1px 1px 10px 1px #f5f3f3;
	-webkit-box-shadow: 1px 1px 10px 1px #f5f3f3;
    cursor:pointer;
    width: 199px; 
    height: 60px;
    border-radius: 8px;
    padding: 2%;
}
.app-myButton4{
    border: 1px solid #f5f3f3;
    background:url(../img/application-download-link/ios-direct-light.png) no-repeat;
    -moz-box-shadow: 1px 1px 10px 1px #f5f3f3;
	-webkit-box-shadow: 1px 1px 10px 1px #f5f3f3;
    cursor:pointer;
    width: 199px; 
    height: 60px;
    border-radius: 8px;
    padding: 2%;
}
.app-myButton5{
    border: 1px solid #f5f3f3;
    background:url(../img/application-download-link/reyhoon-light.png) no-repeat;
    -moz-box-shadow: 1px 1px 10px 1px #f5f3f3;
	-webkit-box-shadow: 1px 1px 10px 1px #f5f3f3;
    cursor:pointer;
    width: 199px; 
    height: 60px;
    border-radius: 8px;
    padding: 2%;
}
.app-hov:hover{
   -moz-box-shadow: 1px 1px 10px 1px #c7c7c7;
    -webkit-box-shadow: 1px 1px 10px 1px #c7c7c7;
}
.big-mobile-pic{
    position: absolute;
    left: 0;
    top: 3080px;
    width: 500px; 
    height: 800px;
}