
.grid-inpuut{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0xp;
    width: 550px;
}
.myyinput2{
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    width: 225px;
    height: 50px; 
    margin: 0%;
    font-size: 15px;
    padding: 0%;
    border-radius: 2px;
}
.inner-login .fa-envelope{
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
/* align icon */
.left-login .fa-envelope  { left:  0px;}
.right-login .fa-envelope { right: 0px;}

.inner-login .fa-phone{
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
/* align icon */
.left-login .fa-phone  { left:  0px;}
.right-login .fa-phone { right: 0px;}